@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Ubuntu', sans-serif;
  color: #333;
}
body {
  margin: 0 auto;
  background: rgba(254, 254, 254, 0.8);
}
h1 {
  padding: 6rem 0 0 1rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .8rem 2.4rem;
  background: rgba(255, 255, 255, 0.97);
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 4px -3px rgba(51, 51, 51, 0.2);

  #logo {
    height: 32px;
    width: 66%;
  
    img {
      height: 100%;
    }
  }

  #icons {
    display: flex;
    font-size: 24px;
    width: 34%;
    justify-content: space-around;

    a {
      position: relative;
    }

    .nav-notification {
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background: rgb(255, 41, 41); 
      position: absolute;
      transform: translate(-4px, -1px);
    }

    i {
      transition: .25s;
      cursor: pointer;
    }
    i:hover {
      color: rgba(34, 34, 34, 0.77);
    }

  }
}

.home-container {
  max-width: 1100px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
}
.shopping-cart {
  position: fixed;
  top: 8rem;
  right: 1rem;
}
 